LOGGER_ENV=test

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=testuser
POSTGRES_PASSWORD=testpass
POSTGRES_DB=testdb
POSTGRES_SSL_MODE=disable

JWT_ACCESS_SECRET=jwt_access_secret_here
JWT_ACCESS_LIFETIME=15m
JWT_REFRESH_SECRET=jwt_refresh_secret_here
JWT_REFRESH_LIFETIME=168h